body{
    direction: rtl;
}

table{
    width:80%;
    margin: 1.5em auto;
    border-collapse: collapse;
}

table tr td{
    border: 1px solid #000;
    width: 33%;
    height:150px;
    text-align: center;
    padding: 2%;
    background-color: rgb(100, 142, 219);
}

table tr td:nth-child(even){
    background-color: rgb(119, 12, 62);
}

img{
    height:150px;
    opacity: 0;
}

img:hover{
    cursor: pointer;
}

