.body{
    background-image: url(../assets/back.jpg);
    background-repeat: no-repeat;
    background-size: 1536px 900px;
}
form{
    position: absolute;
    top:15%;
    right:40%;
    font: 1em sans-serif;
    color: black;
    width: 260px;
    background-color:whitesmoke;
    padding: 20px;
    border-radius:50px;
    box-shadow: 2px 2px 5px 5px white;
}
button{
    width: 100%;
    margin-left:85px;
    cursor: pointer;
    padding: 4px;
    border-radius: 20px;
    border-color: white;
    background-color:#fece0c;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.inputfield{
    width: 250px;
}
.CONTACTUS{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}