.tablebuttons{
  width:70px;
  height: 35px;
  color :black;
  background-color: greenyellow;
  cursor: pointer;
}
#lotterbutton{
 width:200px;
 height: 30px;
 background-color: greenyellow;
 font-size: 15px;
 border-color: ghostwhite;
 margin-right: 10%;
 cursor: pointer;
 opacity: 1;
}
h1{
  margin-right: 60%;
  font-size: 50px;
}
table{
  width: 20%;
  margin-right: 55%;
  padding: 0px;
  opacity: 1;
  background-color: blueviolet;
}
table tr td{
  font-size: 25px;
  padding: 0px;
}
#ThenumberUnderButton{
margin-right: 13%;
margin-top: 2%;
font-size: 25px;
color: red;
opacity: 1;
} 
 #numberUnderTable{
   margin-top: 20px;
  margin-right: 55%;
  font-size: 20px;
  opacity: 1;
} 
#lost{
  opacity: 0;
  color: red;
  margin-top: 0.5%;
}
#win{
  opacity: 0;
  color: blue;
  margin-top: 0.5%;
}

